<% 
unless @asfor.nil? 
    set_meta_tags (
        {
            title: @asfor.question + "と言ったら...",
            og: {
                image: image_url(@asfor.image),
            }
        }
    )
end
%>
<div class="container">
    <div id="asfor-contents" class="text-center">
    <%= form_tag(create_image_path, method: :post, remote: true) { %>
        <% unless @asfor.nil? %>
        <div class="col-xl">
            <p><img src="<%= @asfor.image %>" class="img-fluid" /></p>
        </div>
        <% end %>
        <div class="col-xl">
            <% if @asfor.nil? %>
            <p><%= text_field :asfor, :question, class: "form-control-lg keyword", maxlength: 12, required: true, :placeholder => "バナナ" %></p>
            <% else %>
            <p><%= text_field :asfor, :question, class: "form-control-lg alert-secondary keyword", readonly: true %></p>
            <% end %>
            <p>と言ったら</p>
            <p><%= text_field :asfor, :answer, class: "form-control-lg keyword", maxlength: 12, required: true, :placeholder => "黄色" %></p>
            <p><%= submit_tag 'けってい！', :id => "form_submit", :class => "btn btn-primary btn-lg" %></p>
        </div>
        <div id="created_image" class="col-xl">
            <% if @asfor.nil? %>
            <p>▼こんな画像が作られます▼</p>
            <p><img src="/image/sample.png" alt="Asfors サンプルイメージ" class="img-fluid" /></p>
            <span class="btn btn-primary btn-lg disabled"><i class="fa-twitter fa">つぶやく</i></span>
            </div></p>
            <% end %>
        </div>
    <% } %>
    </div>
</div>
