<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div data-is="main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div id="cboxOverlay"></div>
    <div class="loading"><img src="/image/loading.gif" width="48" height="48" alt="Loading" /></div>
    </body>
</html>
